ARENA_OWNER=arena-01
ARENA_TOKEN=
ARENA_MANAGEMENT_IP=
ARENA_PORTAL_IP=
ARENA_MANAGEMENT_PORT=8443
ARENA_GAME_IP=
ARENA_PUBLIC_HOST=
ARENA_GAME_PORT_MIN=30000
ARENA_GAME_PORT_MAX=39999
ARENA_RESERVED_PORTS=22,80,443
